@import './element-ui.scss';

@include element-ui-common;
// header
.header {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    min-height: 65px;
  }
}

// app.vue
.menu {
  .el-menu--horizontal {

    .el-menu-item {
      font-size: 18px;
      font-weight: 800;
      border-bottom: none;
    }

    .is-active {
      position: relative;
      border-bottom: none !important;
      z-index: 9;
      // background: url('../img/light.png') no-repeat center 9px;
      // background-size: 100% 100%;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -18px;
        background: url('../img/light.png') no-repeat center;
        width: 100%;
        height: 100%;
        background-size: 120% 100%;
        z-index: -1;
      }
    }
  }

  .is-light {
    position: absolute;
    z-index: 8;
    left: 0;
    bottom: 0

  }


}

/* 滚动条 */
::-webkit-scrollbar-thumb:horizontal {
  /*水平滚动条的样式*/
  width: 4px;
  background-color: #cccccc;
  border-radius: 4px;
}

/* 滚动条 */
::-webkit-scrollbar-thumb:vertical {
  /*水平滚动条的样式*/
  width: 4px;
  background-color: #cccccc;
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
  /*滚动条的背景颜色*/
  border-radius: 0;
  /*滚动条的圆角宽度*/
}

::-webkit-scrollbar {
  width: 10px;
  // width: 0;
  /*滚动条的宽度*/
  height: 10px;
  // height: 0;
  /*滚动条的高度*/
}

// 一张图home.vue
.home {
  width: 100%;

  .arrow, .apply, .home-right {
    position: absolute;
    z-index: 2;
    top: 10vh
  }

  .arrow {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .apply {
    margin-top: 5%;
    position: relative;
    float: left;
    margin-left: 20px;
    color: #fff;
    text-align: left;


    .title {
      padding-left: 10px;
    }

    .all {
      position: relative;
      top: -5px;
      padding-left: 3px;
      font-size: 18px;
    }

    .apply-list {
      position: relative;
      width: 140px;
      height: auto;
      padding: 2px;
      background: url('../img/text-bg.png') no-repeat center center;
      background-size: 100% 100%;

      /deep/ .el-menu {
        border-right: none;

        i {
          padding-right: 8px;
        }

        .el-menu-item, .el-submenu__title {
          height: 34px;
          line-height: 34px;
        }

        .el-menu-item:focus, .el-menu-item:hover {
          background-color: #132a88 !important;
        }

        .ac-menu {
          background-color: #132a88 !important;
        }
      }

      /*.apply-check{
              position: absolute;
              left: 150px;
              width: 140px;
              height: 155px;
              padding: 2px;
              background:url('../img/text-bg01.png') no-repeat center center;
              background-size: 100% 100%;

              .el-checkbox-group{
                  padding: 5px 10px;
              }

              /deep/.el-checkbox__inner{
                  border: none;
                  background:url('../img/checkbox.png') no-repeat center center;
              }

              /deep/.el-checkbox__inner::after{
                  height: 12px;
                  width: 12px;
                  top:0;
                  left: 2px;
                  border:none;
                  background:url('../img/true.png') no-repeat center center;
                  background-size: 100% 100%;
              }

              .el-checkbox{
                  height: 25px;

                  .el-checkbox__input.is-checked .el-checkbox__inner::after{
                      transform:none!important
                  }
              }

              .el-checkbox__label{
                  font-size: 12px;
                  color:rgba(255,255,255,.6)
              }
          }*/

      .apply-check {
        position: absolute;
        left: 150px;
        width: 140px;
        height: 155px;
        padding: 2px;
        background: url('../img/text-bg01.png') no-repeat center center;
        background-size: 100% 100%;

        .el-radio-group {
          padding: 5px 10px;
        }

        /deep/ .el-radio__inner {
          border: none;
          background: url('../img/checkbox.png') no-repeat center center;
        }

        /deep/ .el-radio__inner::after {
          height: 12px;
          width: 12px;
          top: 0;
          left: 2px;
          border: none;
          background: url('../img/true.png') no-repeat center center;
          background-size: 100% 100%;
        }

        .el-radio {
          height: 25px;

          .el-radio__input.is-checked .el-radio__inner::after {
            transform: none !important
          }
        }

        .el-radio__label {
          font-size: 12px;
          color: rgba(255, 255, 255, .6)
        }
      }

    }
  }

  .imgex {
    // position: absolute;
    /*top: 80vh;*/
    // bottom: 35px;
    // left: 15px;
    position: relative;
    bottom: 0;
    width: 380px;
    background: url('../img/imgex.png') no-repeat center center;
    background-size: 100% 100%;
    text-align: left;
    z-index:99;

    .imgex-nav {
      padding-left: 10px;
      color: #fff;
      font-size: 16px;
      line-height: 28px;
      cursor: pointer;

      i {
        padding-left: 10px;
      }
    }


    .el-select {
      width: 60%;

      .el-input {
        width: 40%;
      }
    }

    /deep/ .el-input__inner {
      padding-left: 8px;
      height: 28px;
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
    }

    .el-input__icon {
      line-height: 28px;
    }

    .opera {
      padding: 10px 10px 15px;


      .el-button--primary.is-plain {
        color: #fff;
        background: rgba(255, 255, 255, .3);
        border-color: #dcdcdc;

        &:hover, &:active, &:focus {
          font-weight: 800;
          background: rgba(0, 255, 255, .3);
          border-color: #00ffff;
          box-shadow: 0px 0px 5px rgba(255, 255, 255, .6)
        }
      }


      .active {
        font-weight: 800 !important;
        background: rgba(0, 255, 255, .3) !important;
        border-color: #00ffff !important;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, .6) !important
      }

    }

    .icons {
      display: flex;
      padding: 0 10px 15px;
      font-size: 11px;
      color: #fff;

      i {
        margin: 5px 0;
        font-size: 14px;
        color: #00ffff
      }

      .icons-li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
      }
    }
  }

  .home-right {
    float: right;
    right: 0;
    max-height: calc(100vh - 175px);
    overflow-y: auto;
    margin-right: 5px;
    margin-top: 40px;
    color: rgba(255, 255, 255, .6);
    text-align: left;
    font-size: 12px;

    .title {
      padding-left: 10px;
    }

    .all {
      position: relative;
      top: -5px;
      padding-left: 3px;
      font-size: 18px;
      color: #fff;
    }

    .rain {
      width: 550px;
      height: auto;
      padding: 15px;
      background: url('../img/rain.png') no-repeat center center;
      background-size: 100% 100%;

      .rain-ul {
        display: flex;
        flex-wrap: wrap;

        .rain-li {
          width: 33.3%;
          padding-bottom: 10px;
        }
      }

      .rain-flex {
        display: flex;

        .iconkushuiwei- {
          font-size: 48px;
          color: #edaa44;
        }

        .icondangqiankurong- {
          font-size: 48px;
          color: #fff563;
        }

        .iconjinriyuliang- {
          font-size: 48px;
          color: #1ce3ce;
        }

        .iconrukuliuliang- {
          font-size: 48px;
          color: #65f788;
        }

        .iconrukuliuliang- {
          font-size: 48px;
          color: #1ce3ce;
        }

        .iconyubaohongfengliuliang- {
          font-size: 48px;
          color: #1ce3ce;
        }

        .txt {
          padding-left: 5px;
        }

        .iconshangjiantou {
          padding-left: 5px;
          color: #ff1812;
        }

        .iconxiajiantou {
          padding-left: 5px;
          color: #62f187;
        }

        .mm {
          font-family: Ultramagnetic Light;
          font-size: 22px;
          text-shadow: 2px 2px 1px #050404;
          color: #fff
        }

        .unit {
          font-family: Ultramagnetic Light;
          font-size: 12px;
          text-shadow: 2px 2px 1px #050404;
          color: #fff
        }
      }
    }


    .job-title {
      margin: 10px 0;

      .job {
        width: 550px;
        height: auto;
        padding: 15px;
        background: url('../img/job.png') no-repeat center center;
        background-size: 100% 100%;

        .chart {
          display: flex;
          margin-bottom: 10px;

          .cp {
            width: 35px;
            padding: 0 2px;
            padding-top: 22px;
            text-align: center;
            border-radius: 5px;
            color: #fff;
          }

          .first {
            background-color: rgba(216, 168, 37, 0.5);
          }

          .second {
            background-color: rgba(231, 119, 80, 0.5);
          }

          .third {
            background-color: rgba(19, 206, 230, 0.5);
          }
        }

        .mode {
          padding-left: 10px;
          writing-mode: tb
        }
      }

      .chart1, .chart2, .chart3 {
        width: 510px;
        height: 110px;
      }
    }

    .video {
      width: 550px;
      height: auto;
      padding: 15px;
      background: url('../img/video.png') no-repeat center center;
      background-size: 100% 100%;
      text-align: center;
    }
  }


  .bottom {
    position: absolute;
    width: 100%;
    height: 32px;
    bottom: 0;
    z-index: 10;
    background: url('../img/bottom.png') no-repeat center center;
    background-size: 100% 100%;
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    text-align: center;
    line-height: 32px;
  }

}
// modal 弹窗样式
.tra {
  background-color: transparent;

  .el-dialog__body {
    padding: 0;
  }

  .el-dialog__header {
    padding: 0;
    display: none;
  }

  .el-tabs--border-card {
    background-color: transparent;
  }

  .el-tabs--border-card > .el-tabs__header {
    background-color: transparent;
    border-bottom-color: #14fbf5;
  }

  .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
    color: #fff;
    background-color: #409eff;
    border-right-color: #14fbf5;
    border-left-color: #14fbf5;
  }

  .el-tabs--border-card > .el-tabs__content {
    padding: 0px;
  }

  .el-tabs--border-card > .el-tabs__header .el-tabs__item {
    color: #bbb;
  }

  .el-tabs--border-card > .el-tabs__header .el-tabs__item:hover {
    color: #fff;
  }

  .title {
    color: #fff;
    text-align: left;
    width: 100%;
    @include styles('background-color', 'dialogTitleBg');
    padding: 10px 0px;
    font-weight: 700;
  }
}

.big-dialog {
  width: 100%;
}
.close-new {
  position: absolute;
  display: block;
  top: -5px;
  @include styles('color', 'dialogIconColor');
  right: -5px;
  font-size: 48px !important;
}

// cesiumScence
.context-menu {

}

.cesium {

  .dot {

    /deep/ .el-dialog {
      background: #1bd3ffb5;
      height: 70vh;

      .el-dialog__headerbtn {
        top: 10px
      }

      .el-dialog__headerbtn .el-dialog__close {
        color: #333;
      }

      .el-dialog__header {
        padding: 10px 20px 10px;
        text-align: left;
        border-bottom: 1px solid
      }

      .el-tree {
        border-right: 1px solid;
        padding: 20px;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        color: #333
      }

      .el-table {
        margin: 20px;
      }

      //  .el-table, .el-table__expanded-cell {
      //     background-color: transparent;
      // }

      // .el-table tr {
      // 	background-color: transparent!important;
      // }
      // .el-table--enable-row-transition .el-table__body td, .el-table .cell{
      //    background-color: transparent;
      // }

      // .el-table::before {//去除底部白线
      // 	 left: 0;
      // 	 bottom: 0;
      // 	 width: 100%;
      // 	 height: 0px;
      // }

      .el-dialog__body {
        padding: 0;
        display: flex;
        justify-content: space-between;
        overflow-y: auto;
        height: calc(70vh - 45px);
      }
    }
  }

  .point {
    position: absolute;
    left: 20vh;
    top: 30vh;
    z-index: 9;
    padding: 10px;
    background-color: #26B7DC;
    text-align: left;
    font-size: 14px;

    .el-icon-location {
      color: #69d5ff;
      font-size: 18px;
    }

    .point-first {
      color: #fff;
      font-weight: 800;
      font-size: 16px;

    }

    .point-second {
      color: red;
    }
  }
}

.slaq {
  height: 100%;
  min-width: 1200px;

  video {
    width: calc(100% - 30px);
    height: 380px;
    margin-bottom: 20px;
  }

  .el-dialog {
    max-height: 70vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;

    .el-dialog__headerbtn .el-dialog__close {
      display: none
    }
  }


  .slaq_content {
    display: flex;
    justify-content: space-between;

    .el-table {
      font-size: 12px;
    }

    .p-bottom {
      line-height: 60px;
    }

    .dialog-title {
      position: relative;
      text-align: left;
      margin-bottom: 15px;
      background: #3266CC;
      color: #fff;
      padding: 10px;

      .iconfont {
        padding-right: 10px;
      }

      span.title {
        font-size: 14px;
        font-weight: 800;
        color: fff;
      }

      .title-s {
        padding-left: 10px;
        font-size: 14px;
        color: rgba(255, 255, 255, .6);
      }
    }

    .button-right {
      position: absolute;
      right: 10px;
      top: 10px;

      .el-icon-error {
        cursor: pointer;
      }

      .add {
        margin-right: 20px;
        padding: 3px 11px;
        background: #ffffff75;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
      }
    }

    .slaq_chart {
      width: calc(100% - 320px);
      background: #fff;

      .el-table {
        margin: 20px;
        width: calc(100% - 40px);

        tr > th {
          background: #E0E7F5;
        }
      }

      .echart1 {
        width: 100%;
        height: 400px;
      }

      .echart3, .echart4, .echart6 {
        width: 100%;
        height: 400px;
      }

      .tb {
        display: flex;
        justify-content: space-between;

        .echart2 {
          width: 50%;
          height: 300px;
        }
      }


      .opera {
        display: flex;
        padding: 0 20px;
        font-size: 12px;

        .el-button--primary {
          height: 33px;
          line-height: 10px;
          margin-left: 10px;
        }

        p {
          width: 115px;
          line-height: 30px;
        }
      }
    }

    .tree {
      width: 300px;
      margin-left: 20px;
      text-align: left;
      background-color: #fff;

      i {
        cursor: pointer;
      }

      .right-check {
        padding: 0 10px;
      }

      .el-tree {
        margin: 0 20px;
      }

      .el-checkbox-group {
        margin: 0 20px;

        .el-checkbox {
          width: 100%;
        }
      }

    }
  }

}

.info {
  // background: rgba(40,73,133,0.8);
  position: relative;

  .td_Title {
    text-align: center;
  }

  h4 {
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
  }

  .info-title {
    margin-right: 50px;
  }

  /deep/ .el-table__empty-block {
    background: rgba(40, 73, 133, 0.8);
    color: #fff;

    .el-table__empty-text {
      color: #fff;
    }
  }

  .el-table--border::after, .el-table--group::after, .el-table::before {
    background-color: unset;
  }
}

.chart1 {
  // background: rgba(40, 73, 133, 0.8);
}

.wordDiv {
  padding-bottom: 15px;
}

.tt{
  .el-input__inner{
    color:#fff;
  }
  .el-range-input{
    color:#fff;
  }
}
.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible{
  display: none;
}

.flex-layout {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-col-layout {
  display: flex;
  flex-direction: column;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.ml-10 {
  margin-left: 10px;
}
.pl-10 {
  padding-left: 10px;
}
.text-center {
  text-align: center;
}
.pr {
  position: relative;
}
.autoScroll {
  overflow: auto;
}
.overHidden{
  overflow: hidden;
}
.block-box {
  @include styles('background-color', 'blockBg');
}
.empty-text {
  @include styles('color', 'mainTextColor');
}
// 展示型列表 如基础信息-组织结构页面详情列表
.com-list {
  // @include styles('background-color', 'blockBg');
  @include styles('color', 'mainTextColor');
  line-height: 28px;
  font-size: 0.95rem;
  padding: 10px;
  .list-title {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      @include styles('color', 'listTitle');
  }
  .list-label {
      text-align: right;
      @include styles('color', 'listLabel');
  }
}
// 切换型列表 如基础信息-临时机构页面左侧切换列表
.tab-list {
  padding: 0 20px;
  cursor: pointer;
  >li {
      text-align: center;
      margin-top: 10px;
      line-height: 2rem;
      padding: 0 8px;
      border-radius: 15px;
      @include transition;
      &.active {
          color: $white;
          background-color: lighten($blue-1, 10%);
      }
  }
}
// 一张图 左侧列表
.com-ul {
  li {
    padding: 10px 20px;
    margin: 0px;
    text-align: left;
    /*color: #999;*/
    color: #fff;
    cursor: pointer;
    position: relative;
    // @include transition;
  }

  .comApp-children {
    display: none;
  }

  li.is-active {
    color: #fff;
    /* background-color: rgba(22, 134, 241, 0.9); */
    background-color: #132a88;
    position: relative;

    .comApp-children {
      display: block;
      position: absolute;
      left: 180px;
      top: 0px;
      width: 200px;
      /* background-color: rgba(26, 97, 164, 0.7);
      border: 1px solid #999; */

      li.is-active {
        color: #fff;
        /* background-color: rgba(26, 97, 164, 0.9); */
        background-color: #132a88;
        position: relative;
      }
    }
  }

  .badge {
    position: absolute;
    top: 6px;
    right: 50px;
    // width: 16px;
    border-radius: 7px;
    font-size: 12px;
    height: 15px;
    padding: 0 3px;
    line-height: 15px;
    cursor: pointer;
    min-width: 15px;
    box-sizing: border-box;
    background: red;
  }
}
