$blue-1: rgb(0, 119, 255);
$blue-2: rgb(51, 102, 159);
$blue-3: rgb(19, 42, 136);
$blue-4: rgb(50, 179, 218);
$cyan: rgb(0, 255, 255);
$grey-1: rgb(96, 98, 102);
$white: rgb(255, 255, 255);
$black-1: #222;
$black: rgb(0, 0, 0);
$red: rgb(255, 0, 0);
$orange: #ff8000;